/* ==UserStyle==
@name           soundcloud.com
@namespace      github.com/openstyles/stylus
@version        0.4.1
@description    A Nord theme for Soundcloud
@author         Seb day
==/UserStyle== */
@-moz-document url-prefix("https://soundcloud.com") {

    /* Insert code here... */
    body,
    .sc-classic .header,
    .sc-font,
    .sc-font-light,
    .sc-type-medium,
    .sc-type-small,
    .sc-tag,
    .sc-tag:visited,
    .sc-type-large,
    .sc-font-body,
    .sc-type-h1,
    .sc-type-h2,
    .sc-type-h3,
    .sc-type-h4,
    .sc-type-h5,
    .sc-type-h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .g-tabs {
        font-family: system-ui !important;
    }

    body {
        color: #d8dee9;
    }

    /* widths */
    .l-container.l-fullwidth {
        width: 1275px;
    }

    @media (max-width: 1239px) {
        .l-container.l-fullwidth {
            width: 1169px;
        }

        .l-container {
            width: 1160px;
        }
    }

    .l-container {
        width: 1140px;
    }

    /* hide sidebar and footer */
    .l-sidebar-right {
        display: none;
    }

    .l-about-rows {
        padding-right: 0 !important;
    }

    .l-main,
    .l-about-main {
        margin-right: 0 !important;
    }

    .sound__footer {
        display: none;
    }

    .l-container.l-fullwidth {
        width: 969px
    }

    #app,
    .playControls__bg,
    body,
    .volume__sliderBackground,
    .sound__soundActions,
    .commentForm__wrapper,
    .commentForm__input,
    .header {
        background: #2e3440 !important;
    }

    /* play controls */
    .playControls__bg,
    .playControls__inner {
        background: #2e3440 !important;
        border-top: none !important;
    }

    .volume__sliderWrapper {
        border: none !important;
    }

    .show .header__logo {
        background: linear-gradient(#81a1c1, #5e81ac) !important;
    }

    .header__navMenu > li > a {
        min-width: 80px;
    }

    .header__right.sc-clearfix {
        display: none !important;
    }

    .searchTitle {
        background-color: #434c5e !important;
        border-radius: 5px;
    }

    /* currently playing */
    .playButton.m-stretch {
        background-color: #5e81ac !important;
    }

    .g-type-shrinkwrap-inline {
        background-color: #4c566a !important;
    }

    .g-type-shrinkwrap-block {
        background-color: #3b4252 !important;
    }

    .g-type-shrinkwrap-large-secondary {
        font-size: 12px;
    }

    .fullHero__foreground {
        padding-right: 400px !important;
    }

    .soundTitle__playButton {
        margin: 0 17px 0 -15px !important;
    }

    .backgroundGradient__buffer {
        background: none !important;
        border-radius: 7px;
    }

    /* album art */
    .fullHero {
        height: 310px !important;
        background: none !important;
    }

    .fullHero__info {
        right: 300px !important;
    }

    .fullHero__artwork,
    .editImage__select .image__lightOutline,
    .sc-artwork-40x,
    .editImage.alwaysShowEditButton {
        width: 260px !important;
        height: 260px !important;
    }

    .inPlaylist__artwork span {
        height: 20px;
        width: 20px;
    }


    /* progress bar */
    .playbackTimeline__timePassed {
        color: #d08770 !important;
    }

    .playbackTimeline__progressHandle,
    .playbackTimeline__progressBar {
        border: #d08770 !important;
        background-color: #d08770 !important;
    }

    .playbackTimeline__duration {
        color: #d08770 !important;
    }

    .volume__sliderHandle,
    .volume__sliderProgress {
        background-color: #d08770 !important;
    }

    .volume__sliderWrapper {
        border-radius: 7px;
    }

    /* playlist popup*/
    .queue {
        background-color: #4c566a !important;
    }

    .queueItemView.m-active,
    .queue.m-visible .queue__itemWrapper {
        background-color: #4c566a !important;
    }

    .playbackSoundBadge:not(.m-queueVisible) .playbackSoundBadge__queueIcon {
        fill: #eceff4 !important;
    }

    .playbackSoundBadge.m-queueVisible .playbackSoundBadge__queueIcon {
        fill: #d08770;
    }

    .queue__hide {
        display: none;
    }

    .queueItemView:hover {
        background: #434c5e;
    }

    .queueItemView__playButton {
        top: 4px;
        left: 1px;
    }

    .queueItemView.m-active,
    .queueItemView:hover {
        background: #434c5e !important;
    }

    /* comments */
    .uiEvoButton--isLight.commentItem__likeButton {
        background-color: #2e3440;
        color: #4c566a;
    }

    .uiEvoButton:hover.uiEvoButton--isLight {
        background-color: #4c566a !important;
        color: #2e3440;
    }

    .uiEvoButton--isLight.commentItem__likeButton.m-selected svg {
        fill: #a3be8c !important;
    }

    .commentItem__createdAt,
    .commentItem__separator,
    .commentItem__timestamp {
        color: #4c566a;
    }

    .creatorLikeInline {
        color: #4c566a;
    }

    .commentItem__timestampLink,
    .commentItem__timestampLink:hover,
    .commentItem__timestampLink:visited {
        background-color: #4c566a;
    }

    .commentItem__body {
        color: #5e81ac;
        font-weight: bold;
    }

    .commentItem__controls a {
        color: #4c566a !important;
    }

    .sc-link-primary {
        font-weight: bold;
    }

    .queueFallback {
        display: none;
    }

    .readMoreTile__countWrapper {
        background: #4c566a!important;
    }

    /* new icons */
    .skipControl__previous {
        background-image: url(https://imghost.lol/icons/sc-icons-white/media-skip-backward.svg) !important;
    }

    .playControl {
        background-image: url(https://imghost.lol/icons/sc-icons-white/media-playback-start.svg) !important;
    }

    .playControl.playing {
        background-image: url(https://imghost.lol/icons/sc-icons-white/media-playback-pause.svg) !important;
    }

    .skipControl__next {
        background-image: url(https://imghost.lol/icons/sc-icons-white/media-skip-forward.svg) !important;
    }

    .shuffleControl::before {
        background-image: url(https://imghost.lol/icons/sc-icons-white/media-playlist-shuffle.svg) !important;
    }

    .repeatControl.m-none {
        background-image: url(https://imghost.lol/icons/sc-icons-white/media-playlist-repeat.svg) !important;
    }

    .volume__button {
        background-image: url(https://imghost.lol/icons/sc-icons-white/audio-volume-high.svg) !important;
    }

    .sc-button-small.sc-button-like::before {
        background-image: url(https://imghost.lol/icons/sc-icons-white/like-blue.svg) !important;
    }

    .sc-button-small.sc-button-selected.sc-button-like::before,
    .sc-button-selected.sc-button-medium.sc-button-like::before {
        background-image: url(https://imghost.lol/icons/sc-icons-white/like-red.svg) !important;
    }

    .sc-button-medium.sc-button-repost::before {
        background-image: url(https://imghost.lol/icons/sc-icons-white/media-repost.svg) !important;
    }

    .sc-button-medium.sc-button-share::before {
        background-image: url(https://imghost.lol/icons/sc-icons-white/applications-multimedia.svg) !important;
    }

    .sc-button-medium.sc-button-copylink::before {
        background-image: url(https://imghost.lol/icons/sc-icons-white/media-copy-link.svg) !important;
    }

    .sc-button-queue::before {
        background-image: url(https://imghost.lol/icons/sc-icons-white/media-playlist-add.svg) !important;
    }

    .sc-button-medium.sc-button-more::before {
        background-image: url(https://imghost.lol/icons/sc-icons-white/menu-dots.svg) !important;
        background-size: 18px 18px;
    }

    .sc-button-medium.sc-button-edit::before {
        background-image: url(https://imghost.lol/icons/sc-icons-white/pencil.svg) !important;
    }

    .sc-button-medium.sc-button-like::before {
        background-image: url(https://imghost.lol/icons/sc-icons-white/like-white.svg) !important;
    }

    .sc-button-medium.sc-button-delete::before {
        background-image: url(https://imghost.lol/icons/sc-icons-white/recycle-bin.svg) !important;
    }

    /* artist page */
    .sc-button-startstation {
        display: none;
    }

    /* old shit */
    .volume__sliderWrapper,
    .playbackTimeline__progressBackground,
    .compactTrackList__moreLink:hover,
    .compactTrackListItem.clickToPlay:hover,
    .compactTrackList__moreLink,
    .compactTrackListItem.clickToPlay.active,
    .dropbar__content,
    .sc-tag,
    .g-dark input[type="search"],
    .modal__modal,
    .g-modal-section,
    .tabs__tabs,
    input,
    .moreMenu__list,
    .listenLogin,
    .dialog,
    .commentItem.m-creatorComment,
    .chartTrack:hover,
    .sc-background-light,
    .uploadMain__foot,
    .uploadMain__loggedOut,
    .uploadMain__chooserContainer,
    .commentFormDisabled,
    .profileMenu__list,
    .userNav__button.selected,
    .l-fixed-top-one-column > .l-top,
    .g-dark-bg,
    .unreadConversations,
    .trackItem.hover,
    .trackItem.active,
    .tabs__headingContainer,
    .sc-toggle,
    .sc-toggle-handle,
    .audibleEditForm__form,
    .gritter-item-wrapper,
    .g-upsell-container,
    #content > .container > .row,
    #footer > .container > .row,
    .sidebarInfoBox {
        background: #3b4252 !important;
        color: #eceff4 !important;
    }

    .soundBadge__additional,
    .compactTrackListItem.clickToPlay:hover .compactTrackListItem__additional,
    .compactTrackListItem.clickToPlay.active .compactTrackListItem__additional,
    .truncatedUserDescription.m-overflow.m-collapsed .truncatedUserDescription__wrapper::after,
    .truncatedAudioInfo.m-overflow.m-collapsed .truncatedAudioInfo__wrapper::after,
    .trackItem.hover:not(.m-disabled) .trackItem__additional,
    .trackItem.hover:not(.m-disabled) .trackItem__additional,
    .trackItem.active:not(.m-disabled) .trackItem__additional,
    .editTrackItem.m-active .editTrackItem__additional {
        background: transparent !important;
    }

    .l-footer,
    .mobileAppsButtons,
    .announcement,
    .g-scrollbar-visible,
    #content > div > div.l-messages-main > div > img {
        display: none !important;
    }

    * {
        border-color: #3b4252 !important;
        box-shadow: none !important;
    }

    .spotlight__item,
    .commentForm__wrapper,
    .listenEngagement {
        border: none !important;
    }

    .volume__sliderWrapper::after,
    .volume__sliderWrapper::before {
        border-color: transparent transparent #252525 #252525 !important;
        border-top-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: #252525 !important;
        border-left-color: #252525 !important;
    }

    .sc-button {
        background: none !important;
        color: #d8dee9 !important;
        margin: 0 3px;
    }

    .playbackSoundBadge__follow {
        display: none !important;
    }

    a.sc-link-light,
    .commentBadge__time,
    .g-type-shrinkwrap-large-primary,
    .g-type-shrinkwrap-large-secondary,
    .g-dark a,
    .soundTitle__uploadTime {
        color: #d8dee9 !important;
    }

    a:hover {
        color: #5e81ac !important;
    }

    .g-scrollbar,
    .g-scrollbar-vertical {
        background: #353535 !important;
        box-shadow: none !important;
        border: none !important;
    }

    .modal.modalWhiteout {
        background-color: rgba(24, 26, 27, .9) !important;
    }

    .g-dark a:hover {
        color: #eceff4 !important;
    }

    .header__navMenu > li > a.header__moreButton.selected {
        background-color: #17181A !important;
    }

    .staticPage p a:not(.sc-button),
    .staticPage li a,
    a,
    .sc-text-link,
    a:visited {
        color: #d8dee9 !important;
    }

    .audibleTilePlaceholder:before {
        border: 1px solid #2e3440 !important;
    }

    .composeTextfield .textfield__input,
    .recipientChooser .tokenInput__wrapper,
    .tokenInput__wrapper,
    .moreActions__button,
    .sc-radio-radio,
    textarea,
    .moreActions__group .moreActions__link,
    .header__navMenu > li > a.selected,
    .editTrackItem.m-active {
        background: #4c566a !important;
        color: #eceff4 !important;
    }
}