/* ==UserStyle==
@name           home.google.com
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */
@-moz-document domain("home.google.com") {
    mat-toolbar,
    ghw-camera-history {
        display: none!important;
    }
    .main-content-wrapper {
        margin: 0!important;
        padding: 0!important;
    }
    .full-screen-container {
        width: calc(100vw)!important;
        height: calc(100vh)!important;
        padding:0!important;
    }
    ghw-full-player {
        border-radius:0!important;
    }
}